.cart_button {
  padding: 0.6rem;
  border-radius: 0.5rem;
  background-color: white;

  color: #3690DC;
  border: 1px solid #3690DC;
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 2rem;
  text-align: center;
  transition: 0.4s ease-in-out;
}

.cart_button:hover,
.cart_button:active {
  cursor: pointer;
  color: white;
  background-color: #2168D4;
  border-color: #2168D4;
}
