.cartpage{
    padding: 2rem;
    width: 100%;
    margin-top: 5rem;
    background-color: white;
}

.heading{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid var(--color-theme);
    justify-content: space-between;
}

.title{
    font-size: 3rem;
    text-transform: capitalize;
}

.empty{
    margin-top: 2rem;
    font-size: 2rem;
    text-align: center;
}

@media screen and (max-width: 490px) {
    .title{
        font-size: 2rem;
    }
  }
  
  @media screen and (max-width: 280px) {
    .title{
        font-size: 1.5rem;
    }

  }
  

