.product__title{
  color: #303030;
  font-family: 'Questrial',sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  margin-left: 2rem;
  margin-top: 7rem;
  font-family: 'Averia Sans Libre', cursive;
  /* font-family: 'Albert Sans', sans-serif; */
}

.section_product {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* margin: 0 auto; */
}

@media screen and (max-width: 370px) {
  .product__title{
    font-size: 2.0rem;
    font-weight: 400;
    /* text-align: center; */
    margin-left: 1rem;
    margin-bottom: 2rem;
  }

}


@media screen and (max-width: 300px) {
  .product__title{
    font-size: 2.0rem;
    font-weight: 400;
    /* text-align: center; */
    margin-left: 1rem;
    margin-bottom: 2rem;
  }

}



