.orderform {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem;
}

.contact__title {
  font-weight: normal;
  text-align: center;
}

.orderform input {
  border-radius: 0.5rem;
  border: 2px solid var(--color-theme);

  width: 90%;
  font-size: 1.5rem;
}

.orderform input:focus .orderform input:active .orderform input:hover {
  border: 2px solid #1ca210;
  box-shadow: 0 0 0 1px #1ca210;
}

.orderform button {
  background-color: var(--color-secondary-light);
  border: 0;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  color: white;
  margin-top: 1.5rem;
  width: 90%;
  transition: 0.4s ease-in-out;
}

.orderform button:hover {
  background-color: var(--color-secondary-dark);
}

/* @media screen and (max-width: 400px) {
  .orderform input {
    width: 100%;
  }

  .contact__title {
    font-weight: 500;
  }

  .orderform button {
    width: 100%;
  }
} */

.brand {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}

.app_heading {
  color: rgba(0, 0, 0, 0.698);
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: normal;
}

.form {
  /* width: 40%; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem;
  gap: 0.5rem;
  border-radius: 0.2rem;
  font-family: "Roboto", sans-serif;
}

.input {
  background-color: transparent !important;
  padding: 1rem;
  /* padding: 0.35rem 0.35rem; */
  border: 0.1rem solid #ccc;
  border-radius: 0.4rem;
  width: 90%;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  transition: 0.4s ease-in-out;
}

.input:focus {
  border: 0.1rem solid #2168d4;
  outline: none;
}

.center__spin {
  display: flex;
  justify-content: center;
}

.button {
  /* background: linear-gradient(to right,#3690DC, #2168D4); */
  background-color: #3690dc;
  color: white;
  padding: 1rem 2rem;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0.4rem;
  text-transform: uppercase;
  font-size: 1.3rem;
  /* width: 90%; */
  transition: 0.5s ease-in-out;
}

.button:hover {
  background-color: #2168d4;
}

.password__input {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .form {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .button {
    width:90%;
  }
}

@media screen and (max-width: 480px) {
  .form {
    width: 90%;
    /* padding: 2rem 3rem; */
  }

  .input {
    font-size: 1.5rem;
  }

  .button {
    font-size: 1.45rem;
  }

  .switch {
    font-size: 1.4rem;
  }

  .switch a {
    font-size: 1.4rem;
  }
}

.control {
  margin: 1rem 0;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.control label,
.control input {
  display: block;
}

.control label {
  flex: 1;
  color: #464646;
  margin-bottom: 0.5rem;
}

.control input {
  flex: 3;
  font: inherit;
  padding: 0.35rem 0.35rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.control input:focus {
  outline: none;
  border-color: #4f005f;
  background: #f6dbfc;
}

@media (min-width: 768px) {
  .control {
    align-items: center;
    flex-direction: row;
  }
}

@media screen and (max-width: 400px) {
  .input {
    width: 100%;
    padding: 0;
  }

  .button {
    width: 100%;
  }

  .contact__title {
    font-weight: 500;
  }

  .orderform button {
    width: 100%;
  }
}
