.order__detail {
  font-size: 1.8rem;
  padding: 2rem;
  margin-top:7vh;
  font-family: "Averia Sans Libre", cursive;
}

.header {
  display: flex;
  flex-direction: row;
}

.order__name {
  color: black;
}

.status{
    font-weight: bold;
}

.detail__page {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 4rem;
}

.date__details{
    margin-right: 2rem;
}

.middle_div{
    border-left: 1px solid var(--color-theme);
    border-right: 1px solid var(--color-theme);
}

.back_button{
  font-size: 3rem;
  margin-right: 2rem;
}

.back_button:hover{
  color: #1ad1b9;
  box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%);
}

.order_titles{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-family: "Averia Sans Libre", cursive;
  /* padding-right: 2rem; */
  padding-left: 2rem;
}

@media screen and (max-width: 600px) {
  .order__detail {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 500px) {
  .detail__page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
  }

  .date__details{
    margin-bottom: 2rem;
  }

  .pricing{
    margin-bottom: 2rem;
  }

  .delivery__details p{
    margin-left: 2rem;
  }
}
