.order__detail {
  font-size: 1.8rem;
  padding: 2rem;
  margin-top:7vh;
}

.order__name {
  color: black;
}

.status{
    font-weight: bold;
}

.detail__page {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.date__details{
    margin-right: 2rem;
}

.icon__btn {
  background-color: aqua;
  color: black;
  border: 0;
  margin-right: 0.8rem;
}

.back__icon {
  display: block;
  fill: black;
  height: 2.25rem;
  width: 2.25rem;
}

.middle_div{
    border-left: 1px solid var(--color-theme);
    border-right: 1px solid var(--color-theme);
}

@media screen and (max-width: 600px) {
  .order__detail {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 500px) {
  .detail__page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
  }

  .date__details{
    margin-bottom: 2rem;
  }

  .pricing{
    margin-bottom: 2rem;
  }

  .delivery__details p{
    margin-left: 2rem;
  }
}
