.order_button {
  padding: 0.6rem;
  border-radius: 0.2rem;
  background-color: var(--color-secondary-light);
  color: white;
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 2rem;
  text-align: center;
  border: none;
  transition: 0.4s ease-in-out;
}

.order_button:hover,
.order_button:active {
  cursor: pointer;
  color: white;
  background-color: var(--color-secondary-dark);
}

@media screen and (max-width: 490px) {
  .order_button {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 450px) {
  .order_button {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 280px) {
  .order_button {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 225px) {
  .order_button {
    font-size: 1.3rem;
    padding: 0.6rem;
  }
}
