.welcome_section{
  padding: 2rem;
  height: 100vh;
  width: 100%;
  margin-top: 5rem;
  top:0;
  position: relative;
  font-size: 1.4rem;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url(../../../public/img/large.jpg);
  max-width: 100%;  
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: background-image 1.5s ease-in-out;
}

.word_heading{
  color: #fab012;
}

.head__content{
  border-radius: 5px;
  background-color: white;
  width: 30%;
  word-wrap: break-word;
  margin-top: 5rem;
}

.head__content:hover{
  box-shadow: 0px 20px 50px -20px rgb(0 0 0 / 50%) !important;
}

.image{
  display: flex;
  flex-direction: row;
  justify-content: center;
  clip-path: polygon(0 0, 70% 0%, 100% 0, 100% 100%, 81% 75%, 70% 87%, 54% 77%, 0 100%);
}

.mainheading {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 5.5rem;
  color: white;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  letter-spacing: 0.5rem;
  animation-timing-function: .8s ease-in;
  text-transform: capitalize;
}

.content{
  font-size: 1.5rem;
  padding:0.5rem;
}

.footer {
  padding: 2rem;
  font-size: 1.4rem;
}

.footer_element {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-between;
  padding: 2rem;
}

.footer_element a {
  text-decoration: none;
  color: var(--color-grey-dark-2);
} 

.footer__title{
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.view{
  display: none;
}

.footer__last{
  list-style: none;
  padding: 1rem;
  text-align: center;
}

@media screen and (max-width: 780px) {
  /* .welcome_section{
    height: 75vh;
  } */

  .head__content{
    border-radius: 5px;
    background-color: white;
    width: 50%;
    word-wrap: break-word;
    margin-top: 5rem;
  }

  .mainheading {
    font-size: 5.0rem;;
    text-align: center;
    letter-spacing: 1.0rem;
    animation-timing-function: .4s ease-in;
  }

  .image{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .footer {
    padding: 1.5rem;
    font-size: 1.4rem;
  }

  .footer_element {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    padding: 1rem;
  }

}

@media screen and (max-width: 650px) {
  .welcome_section{
    /* height: 75vh; */
    background-image: url(../../../public/img/small.jpg);
    background-size: cover;
  }

  .mainheading {
    font-size: 5.5rem;;
    text-align: center;
    letter-spacing: 1.0rem;
    animation-timing-function: .4s ease-in;
  }

  .image{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .footer {
    padding: 1.5rem;
    font-size: 1.4rem;
  }

  .footer_element {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    padding: 1rem;
  }

}

@media screen and (max-width: 600px){
  .welcome_section{
    border-radius: 0;
    margin:0;
  }

  .footer__last{
    text-align: center;
  }

}

@media screen and (max-width: 590px) {
  /* .welcome_section{
    height: 75vh;
  } */

  .mainheading {
    font-size: 4.0rem;
    text-align: center;
    letter-spacing: 1.0rem;
    animation-timing-function: .4s ease-in;
  }

  .head__content{
    width: 80%;
  }

  .image{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .footer {
    padding: 1.5rem;
    font-size: 1.4rem;
  }

  .footer_element {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: space-between;
    padding: 1rem;
  }

  .footer__single{
    border-bottom: 1px solid var(--color-theme);
  }

  .footer__title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .view{
    display: inline;
  }

  .footer__last{
    text-align: start;
  }

}

@media screen and (max-width: 380px) {
  .welcome_section{
    background-image: url(../../../public/img/tiny.jpg);
  }
}

@media screen and (max-width: 345px) {
  .welcome_section{
    background-image: url(../../../public/img/smallest.jpg);
  }

  .mainheading {
    font-size: 3.0rem;
    text-align: center;
    letter-spacing: 1.0rem;
    animation-timing-function: .4s ease-in;
  }

  .head__content{
    width: 100%;
  }
}

@media screen and (max-width: 325px) {

  .mainheading {
    margin-top: 2rem;
    font-size: 3.0rem;
    text-align: center;
    letter-spacing: 0.4rem;
    animation-timing-function: .4s ease-in;
  }

  /* .footer_element {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: space-between;
    padding: 0.5rem;
    font-size: 1.1rem;
  } */
}

@media screen and (max-width: 225px) {
  .mainheading {
    margin-top: 2rem;
    font-size: 2.5rem;;
    text-align: center;
    letter-spacing: 0.2rem;
    animation-timing-function: .4s ease-in;
  }

  .image{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

}
