.welcome_section {
  padding: 2rem;
  height: 58vh;
  width: 100%;
  top: -3rem;
  position: relative;
  font-size: 1.4rem;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  /* filter: grayscale(100%); */
  background: linear-gradient(to right, #ccc, #eee);
  object-fit: cover;
  font-family: "Inconsolata", monospace;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: background-image 1.5s ease-in-out;
}

.word_heading {
  color: #fab012;
}

.title_section {
  /* margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.mainheading {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  /* other styles */
  font-size: 5.5rem;
  /* color: rgb(249, 86, 86); */
  background: linear-gradient(to right, rgb(249, 86, 86), rgb(235, 197, 46));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.5rem;
  animation-timing-function: 0.8s ease-in;
  text-transform: capitalize;
  text-transform: uppercase;
  transition: 0.5s ease-in;
}

.shop_btn {
  color: rgba(0, 0, 0, 0.87);
  box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
  padding: 0.5rem;
  font-family: "Averia Sans Libre", cursive;
  font-size: 1.5rem;
  border: none;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  margin-right: 0.5rem;
  text-transform: uppercase;
  width: 20%;
  transition: 0.5s ease-in-out;
  align-self: flex-end;
}

.shop_btn:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.87);
}

.content {
  font-size: 1.5rem;
  padding: 0.5rem;
}

.middle_section {
  position: relative;
}

.title_carousel {
  margin: 0.5rem;
  display: block;
  font-size: 1.5rem;
  padding-left: 1.5rem;
  width: 20%;
  border-radius: 0.5rem;
  transition: 0.5s ease-in-out;
  color: rgba(0, 0, 0, 0.87);
  font-family: "Averia Sans Libre", cursive;
}

.title_carousel:hover {
  color: #fab012;
}

.image_container {
  /* width: 295.594px; */
  /* margin-top: 1rem; */
  height: 25rem;
}

.footer {
  padding: 2rem;
  font-size: 1.4rem;
}

.footer_element {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-between;
  padding: 2rem;
}

.footer_element a {
  text-decoration: none;
  color: var(--color-grey-dark-2);
}

.footer__title {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.view {
  display: none;
}

.footer__last {
  list-style: none;
  padding: 1rem;
  text-align: center;
}

.carousel_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card_carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 295.594px;
  width: 300px;
  height: 25rem;
  margin: 0;
}

@media screen and (max-width: 780px) {
  /* .welcome_section{
    height: 75vh;
  } */

  .head__content {
    border-radius: 5px;
    background-color: white;
    width: 50%;
    word-wrap: break-word;
    margin-top: 5rem;
  }

  .mainheading {
    font-size: 5rem;
    text-align: center;
    letter-spacing: 1rem;
    animation-timing-function: 0.4s ease-in;
  }

  .image {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .footer {
    padding: 1.5rem;
    font-size: 1.4rem;
  }

  .footer_element {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    padding: 1rem;
  }

  .title_carousel {
    width: 50%;
  }
}

@media screen and (max-width: 650px) {
  .welcome_section {
    /* height: 60vh; */
    /* background-image: url(../../../public/img/small.jpg); */
    background-size: cover;
  }

  .mainheading {
    font-size: 5.5rem;
    text-align: center;
    letter-spacing: 1rem;
    animation-timing-function: 0.4s ease-in;
  }

  .title_carousel {
    width: 50%;
  }

  .image {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .footer {
    padding: 1.5rem;
    font-size: 1.4rem;
  }

  .footer_element {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    padding: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .welcome_section {
    border-radius: 0;
    margin: 0;
  }

  .footer__last {
    text-align: center;
  }
}

@media screen and (max-width: 590px) {
  /* .welcome_section{
    height: 75vh;
  } */

  .head_image {
    margin-top: 0;
  }

  .mainheading {
    font-size: 4rem;
    text-align: center;
    letter-spacing: 1rem;
    animation-timing-function: 0.4s ease-in;
  }

  .head__content {
    width: 80%;
  }

  .shop_btn {
    width: 25%;
  }

  .image {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .footer {
    padding: 1.5rem;
    font-size: 1.4rem;
  }

  .footer_element {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: space-between;
    padding: 1rem;
  }

  .footer__single {
    border-bottom: 1px solid var(--color-theme);
  }

  .footer__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .view {
    display: inline;
  }

  .footer__last {
    text-align: start;
  }
}

@media screen and (max-width: 380px) {
  .welcome_section {
    padding: 0;
    height: 58vh;
  }

  .title_carousel {
    text-align: center;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 70%;
    display: block;
    font-size: 1.5rem;
    padding-left: 1.5rem;
  }

  .image_container {
    /* margin-top:0; */
    height: 25rem;
  }

  .mainheading {
    /* top: 50%; */
    font-size: 5rem;
    letter-spacing: 1rem;
  }

  .shop_btn {
    width: 65%;
    align-self: center;
  }
}

@media screen and (max-width: 345px) {
  .welcome_section {
    /* background-image: url(../../../public/img/smallest.jpg); */
  }

  .mainheading {
    font-size: 3rem;
    text-align: center;
    letter-spacing: 1rem;
    animation-timing-function: 0.4s ease-in;
  }

  .head__content {
    width: 100%;
  }
}

@media screen and (max-width: 325px) {
  .mainheading {
    margin-top: 2rem;
    font-size: 3rem;
    text-align: center;
    letter-spacing: 0.4rem;
    animation-timing-function: 0.4s ease-in;
  }

  /* .footer_element {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: space-between;
    padding: 0.5rem;
    font-size: 1.1rem;
  } */
}

@media screen and (max-width: 225px) {
  .mainheading {
    margin-top: 2rem;
    font-size: 2.5rem;
    text-align: center;
    letter-spacing: 0.2rem;
    animation-timing-function: 0.4s ease-in;
  }

  .image {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
