.pay_dialog{
    padding: 1.5rem;
    font-size: 1.4rem;
}

.actions button{
    margin-top: 1.5rem;
    margin-right: 2rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.confirm_order {
    border: none;
    background-color: var(--color-secondary-light);
    color: #fff;
}

.confirm_order:hover,
.confirm_order:active {
    cursor: pointer;
    background-color: var(--color-secondary-dark);
}

.cancel{
    color: #d1321a;
    border: 1px solid #d1321a;
    background-color: white;
}

.cancel:hover,
.cancel:active {
  cursor: pointer;
  color: white;
  background-color: #d1321a;
  border-color: #d1321a;
}