.form_section {
  margin: 8rem auto;
  text-align: center;
}

.resetform {
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 1rem;
  width: 30%;
}

.control {
  margin: 3rem;
  padding: 0.5rem;
  font-size: 1.6rem;
}

.control label {
  display: block;
  text-align: center;
}

.control input {
  width: 50%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}

/* .actions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */

.actions button {
  color: black;
  width: 30%;
  margin-bottom: 1.4rem;
  padding: 0.5rem;
  border: 0;
  border-radius: 0.5rem;
  font-size: 1.6rem;
}

.actions button:hover {
  color: white;
  background-color: blueviolet;
}

.actions a {
  color: black;
  width: 50%;
  margin-left: 4rem;
  margin-bottom: 1.4rem;
  padding: 0.5rem;
  border: 0;
  border-radius: 0.5rem;
  font-size: 1.6rem;
}

.actions a:hover {
  color: red;
  text-decoration: solid;
}

@media screen and (max-width: 1000px) {
  .resetform {
    width: 60%;
  }
}

@media screen and (max-width: 770px) {
  .resetform {
    width: 70%;
  }
  .control input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
  }
}

@media screen and (max-width: 500px) {
  .resetform {
    width: 90%;
  }
}

@media screen and (max-width: 350px) {
  .resetform {
    width: 95%;
  }

  .heading {
    font-size: 1.55rem;
  }

  .control {
    font-size: 1.5rem;
  }

  .actions button {
    font-size: 1.5rem;
  }
}
